# Copy to .env

# Database
DATABASE_URL=sqlite:///./app.db

# Gmail OAuth files
GOOGLE_CLIENT_SECRET_FILE=./client_secret.json
GOOGLE_TOKEN_FILE=./gmail_token.json
GMAIL_USER_ID=me

# Gmail polling query (tune later)
GMAIL_SEARCH_QUERY=in:inbox category:primary newer_than:10d
GMAIL_MAX_RESULTS_PER_POLL=50

# Local LLM (Ollama)
USE_LLM=true
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3:latest

